.properties {
  background-color: #f5fafe;
  padding: 50px 0;

  @media(min-width: $md) {
    padding: 80px 0;
  }

  @media(min-width: $xl) {
    padding: 110px 0;
  }

  .section-head {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 0 40px;

    @media(min-width: $lg) {
        margin: 0 0 70px;
    }

    > div {
      display: flex;
      flex-direction: column;

      .section-title {
        text-align: left;
        margin: 0 0 15px;
      }
    }

    .link-btn {
        margin: 10px 0 0;
    }
  }

  .properties-grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
    width: 100%;

    @media(min-width: $sm) {
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
    }

    @media(min-width: $md) {
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 15px;
    }

    @media(min-width: $lg) {
        column-gap: 30px;
    }
  }
}
